/* colors that the owner wants in the website */
:root{
    --gulfcoast: #3fd0c9;
    --bordercolor: rgb(69, 209, 69);
}
 /* grid displays where on the page it exsists and is located */
.grid-container{
    display: grid;
    grid-template-columns: 1.6fr 4fr 4fr;
    height: 100vh;
}
.grid-item-1{
    border-top: 1px solid black;
    border-right: 1px solid black;
    grid-row: 1 / 5;
}
.grid-item-2{
    border-top: 1px solid black;
    grid-column: 2 / 4;
    grid-row: 1 / 3;

}
.grid-item-3{
    border-top: 1px solid black;
    grid-column: 2 / 4;
    grid-row: 3 / 4.5;

}
.grid-item-4{
    border-top: 1px solid black;
    grid-column: 2 / 4;
    grid-row:  4.5 / 5;

}

/* start of the grid item properties */
#header{
    background-color: var(--gulfcoast);
    text-align: center;
}
#headerTxt{
    margin-top: 150px;
    font-size: 35px;
    font-weight: 50px;
    font-family: 'Cedarville Cursive', cursive;
}

a{
    text-decoration: none;
    color: black;
}
#ListContainer{
    margin-top: 25px;
    text-align: start;
    font-size: 25px;
    line-height: 55px;
    font-family: 'Recursive', sans-serif;
    flex-direction: column;
}

#photoCompany{
    background-image: url(https://scontent.fhio2-2.fna.fbcdn.net/v/t39.30808-6/338831123_551356683767788_7240283982697066596_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=52f669&_nc_ohc=ngJh1Tp76mMAX8TFNCC&_nc_ht=scontent.fhio2-2.fna&oh=00_AfCdgjEJ4aiq8Pbrno_QLiNIHJybNo2w2OLBdR2Wianrbw&oe=650BCB75);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: start;
    opacity: .8;
}
#paragraph{
    font-size: 25px;
    height: 800px;
    width: 800px;
    color: black;
    font-weight: bolder;
}
#footerContainer{
    font-family: 'Recursive', sans-serif;
    text-align: center;
    font-size: 25px;
    align-content: center;
}

hr{
    height: 4px;
    background-color: navy;
    border: none;
}

#brandFont{
    text-align: center;
    color: black;
    font-size: 55px;
    font-weight: bolder;
    font-family: 'Recursive', sans-serif;

}
#brandsContainer{
    flex-direction: column;
    background-color: white;

}
#container{
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.brands{
    width: 170px;
    height: 170px;
    margin: 1em;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade-in;
  animation-duration: 8s;
}

@keyframes fade-in {
  from {opacity: .4}
  to {opacity: 1}
}